<% layout('layout') -%>

<section class="contacts">
    <div class="layout__wrapper">

        <div class="contacts__filter">
            <div class="contacts__filter-cell">
                <input type="text" class="form__control" placeholder="Search..." v-model="search.query" @keyup="getAll">
            </div>
            <div class="contacts__filter-cell">
                <select class="form__select" v-model="search.field" @change="getAll">
                    <option value="firstname">Firstname</option>
                    <option value="lastname">Lastname</option>
                    <option value="phone">Phone</option>
                </select>
            </div>
        </div>

        <div v-if="!shared.contacts.length" class="contacts__info">
            List is empty
        </div>

        <ul class="contacts__list">
            <li class="contacts__item" v-for="contact in shared.contacts">
                <div class="contacts__item-cell">
                    <a class="contacts__item-name" :href="'/contacts/id/' + contact._id">
                        <span v-html="contact.firstname"></span> <span v-html="contact.lastname"></span>
                    </a>
                </div>
                <div class="contacts__item-cell" v-html="contact.phone"></div>
                <div class="contacts__item-cell">
                    <a class="contacts__item-edit" :href="'/contacts/edit/' + contact._id"></a>
                    <a class="contacts__item-remove" href="javascript:;" @click.prevent="remove(contact._id)"></a>
                </div>
            </li>
        </ul>
    </div>
</section>