<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="layout" id="app">
        <div class="layout__body">

            <section class="menu">
                <div class="layout__wrapper">
                    <ul class="menu__list clearfix">
                        <li class="menu__item">
                            <a class="menu__item-a _current" href="/contacts">Contacts</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__item-a" href="/contacts/add">Add contact</a>
                        </li>
                    </ul>
                </div>
            </section>

            <%-body %>

        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
    <script src="https://rawgithub.com/tpmanc/js-mask/master/js-mask.min.js"></script>

    <script src="/js/script.js"></script>
</body>
</html>